
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color:black;
    background-color: #f0f0f0;
    line-height: 1.6;
}

.parallax {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/*Images*/
.first,
.throw,
.gotthem {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.first {
    background-image: url("images/pic1.png");
}

.throw {
    background-image: url("images/pic2.png");
}

.gotthem {
    background-image: url("images/pic3.png");
}

.content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    background-color: #fffaf8;
    
}

.card-section{
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #fffaf8;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffaf8;
}
h1,
h2 {
  margin-bottom: 15px;
}


